<!DOCTYPE html>
<html>
<head>
    <title>TAXWE Driver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="card">

    <h2>Driver Panel</h2>

    <!-- WAITING -->
    <div id="waitingSection">
        <p id="requestText">Waiting for ride request...</p>
    </div>

    <!-- REQUEST -->
    <div id="requestSection" style="display:none;">
        <p id="rideDetails"></p>
        <button onclick="acceptRide()">Accept Ride</button>
    </div>

    <!-- OTP -->
    <div id="otpSection" style="display:none;">
        <input id="otpInput" placeholder="Enter OTP">
        <button onclick="verifyOTP()">Verify OTP</button>
    </div>

    <!-- RIDE -->
    <div id="rideSection" style="display:none;">
        <p>Ride Ongoing 🚕</p>
        <button onclick="completeRide()">Complete Ride</button>
    </div>

</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
var socket = io("http://127.0.0.1:5000");

socket.on("new_request", data => {
    document.getElementById("waitingSection").style.display = "none";
    document.getElementById("requestSection").style.display = "block";

    document.getElementById("rideDetails").innerText =
        "Pickup: " + data.source + " → " + data.dest;
});

function acceptRide(){
    socket.emit("accept_ride");

    document.getElementById("requestSection").style.display = "none";
    document.getElementById("otpSection").style.display = "block";
}

function verifyOTP(){
    let otp = document.getElementById("otpInput").value;
    socket.emit("verify_otp", {otp});
}

socket.on("otp_success", () => {
    document.getElementById("otpSection").style.display = "none";
    document.getElementById("rideSection").style.display = "block";
});

socket.on("otp_failed", () => {
    alert("Wrong OTP");
});

function completeRide(){
    socket.emit("complete_ride");

    document.getElementById("rideSection").innerHTML = `
        <h2>Ride Completed ✅</h2>
        <p>Waiting for payment...</p>
    `;
}

socket.on("payment_success", () => {
    alert("Payment received 💰");
    location.reload();
});
</script>

</body>
</html>